@using ECom_wep_app.Models.Utilities
@model PaginatedList<Customer>

<div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("Create", "Customer")" class="btn btn-primary">
        <i class="fas fa-plus"></i> Add New
    </a>
</div>
<table class="table table-bordered table-hover table-striped align-middle text-center">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Image</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <img src="~/Images/@item.ImageUrl" alt="Customer Image"
                         class="img-thumbnail" style="max-width:80px;height:auto;" />
                </td>
                <td>
                    <a href="@Url.Action("Details", "Customer", new { id = item.Id })"
                       class="btn btn-sm btn-info">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Update", "Customer", new { id = item.Id })"
                       class="btn btn-sm btn-secondary">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Customer" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="button" class="btn btn-sm btn-danger"
                                onclick="confirmDelete(this)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Page",Model)


@await Html.PartialAsync("_GeneralPopup")

@section Scripts {
    <script src="~/js/general-popup.js" asp-append-version="true"></script>
    <script>
        function confirmDelete(btn) {
          const form = btn.closest('form');
          GeneralPopup.open(
            'Do you really want to delete this customer?',
            () => form.submit(),
            () => console.log('Popup closed')
          );
        }
    </script>
}
